*
{
    margin: 0;
    padding: 0;
}

.nav_links ul li
{
    list-style-type: none;
    display: block;
    padding-right: 20px;
}

.nav_bar a
{
    text-decoration: none;
    color: white;
}

.nav_bar
{
    background-color: black;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.nav_links
{
    display: none;
}

.menu_icon
{
    background-color: lightgray;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 3px 0px 3px;
    cursor: pointer;
}

/*.nav_bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    background-color: black;
    overflow: hidden;
}*/