*
{
    margin: 0;
    padding: 0;
}

.nav_links ul li
{
    list-style-type: none;
    display: block;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}

.nav_links ul li:last-child
{
    padding-bottom: 20px;
}
.nav_bar a
{
    text-decoration: none;
    color: white;
}

.nav_bar
{
    background-color: #0b051b;
    overflow: hidden;
    position: relative;
    padding: 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links
{
    display: none;
    z-index: 5;
    background-color: black;
    position: fixed;
    top: 30px;
    right: 0;
    width: 100%;
}

.menu_icon
{
    background-color: lightgray;
    display: block;
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 3px 3px 0px 3px;
    cursor: pointer;
}

/*.nav_bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    background-color: black;
    overflow: hidden;
}*/